
*{
    font-family: Arial, Helvetica, sans-serif;
     margin: 0px;
}

html,body{
    height: 100vh;/* 100% de view height **/
    width: 100vw;/* 100% de view width **/

}

main{
 width: 100%;
} 

.mt-1{
    margin-top:5px ;
}

.mt-5{
    margin: 20px;
}

.pointer{
    cursor: pointer;
}
